#Inicio{
  padding-top: 80px;
}
#carouselExampleCaptions{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#carouselExampleCaptions .carousel-inner{
  width: 80%;
}

nav {
  background-color: transparent !important;
  box-shadow: none !important; /* Para quitar cualquier sombra */
  border: none !important; /* Para quitar bordes si los tiene */
}
#carouselExampleCaptions .carousel-control-prev,
#carouselExampleCaptions .carousel-control-next {
  display: none !important;
}

/* Indicadores normales */
.carousel-indicators button {
  width: 12px;
  height: 12px;

}

.carousel-indicators .active {
  opacity: 1;
  background-color: #000;
}

/* Responsivo para móviles */
@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom: 10px !important; /* más cerca de la imagen */
  }
  #Inicio{
  padding-top: 20px;
}
  .carousel-indicators button {
    width: 8px!important;
    height: 2px!important;
    margin: 0 3px;
    position: relative;
    top: 26px!important;
  }
}