#Inicio {
  width: 100%;
}

.Conteiner-Banner-Inicial {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-banneri_ini {
  width: 100%;
  height: auto;
  object-fit: cover; /* Esto evita que la imagen se deforme */
  display: block;
}

.banner-texto {
  position: absolute;
  top: 10%;
  left: 1%;
  text-align: center;
  align-items: center;
  max-width: 50%;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.banner-texto h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem; /* opcional: estilo llamativo */
}

.banner-texto h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
}

.Cont-cotiza{
  width: 150px;
  background-color: #03152e;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255); 
  font-family: 'Noto Sans', sans-serif;
}
.banner-texto a {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  margin: 0 auto; /*CENTRAR*/
  color: white;
}

/*INICIO CONTENEDOR PASOS*/
.Pasos-import {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 4px;
    padding: 40px 20px;
    background-color:#b0b7c3;
}
.contenedor-pasos {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 280px;
    padding: 10px;
}
.circulo-pasos{
    width: 140px;
    height: 140px;
    background-color: #e0ecff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Esto es clave */
    transition: transform 0.3s ease;
}
.circulo-pasos:hover{
    box-shadow: 
        0 4px 16px rgba(0, 0, 0, 0.1), 
        0 10px 10px rgba(15, 7, 65, 0.2);
    transform: scale(1.05);
}
.img-pasos {
    width: 99%;
    height: auto;
    object-fit: contain;
    border-radius: 50%; /* Opcional si las imágenes no son circulares */
    transition: transform 0.3s ease-in-out;
}
.Pasos-import h1 {
  text-align: center;
  color:  #0a2f5a;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif; /* si deseas que combine con el estilo */
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.contenedor-pasos h3 {
    font-size: 1.3rem;
    color: #2c3e50;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
.contenedor-pasos p {
    font-size: 0.8rem;
    color: #444;
    margin: 5px 0;
    font-family: 'Noto Sans', sans-serif;
}
.boton-contacto {
    background-color: #768396;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    width: 250px;
    text-align: center;
    font-weight: 500;
    z-index: 9999;
    position: relative;
    margin: 5px 0;
    cursor: default;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.boton-contacto:hover {
    background-color: #5a6a7f; 
}
/*FIN CONTENEDOR PASOS*/

@media screen and (max-width: 1250px){
  /*Inicio texto banner*/
  .banner-texto h2{
    font-size: 1.8rem;
  }
  .banner-texto h3{
    font-size: 1rem;
  }
  .Cont-cotiza{
    width: 120px;
    height: 40px;
  }
  .Cont-cotiza p{
    font-size: 14px;
  }
  /*FIn texto banner*/

/*INICIO PASOS*/  
.circulo-pasos{
    width: 120px;
    height: 120px;
}
.contenedor-pasos h3 {
    font-size: 1rem;

}
.contenedor-pasos p {
    font-size: 0.6rem;

}

/*Fin PASOS*/
}

@media screen and (max-width: 1100px){
  /*Inicio texto banner*/
  .banner-texto h2{
    font-size: 1.5rem;
  }
  .banner-texto h3{
    font-size: 0.8rem;
  }
  .Cont-cotiza{
    width: 100px;
    height: 25px;
  }
  .Cont-cotiza p{
    font-size: 10px;
  }
  /*FIn texto banner*/

}

@media screen and (max-width: 1000px){
  /*Inicio texto banner*/
  .banner-texto h2{
    font-size: 1.2rem;
  }
  .banner-texto h3{
    font-size: 0.6rem;
  }
  .Cont-cotiza{
    width: 100px;
    height: 25px;
  }
  .Cont-cotiza p{
    font-size: 10px;
  }
  /*FIn texto banner*/
}

/* General breakpoint para pantallas pequeñas */
@media screen and (max-width: 700px) {
  .Pasos-import {
    flex-direction: column;
    align-items: center;
  }
    /*Inicio texto banner*/
  .banner-texto h2{
    font-size: 1.2rem;
  }
  .banner-texto h3{
    font-size: 0.6rem;
  }
  .Cont-cotiza{
    width: 100px;
    height: 25px;
  }
  .Cont-cotiza p{
    font-size: 10px;
  }
  /*FIn texto banner*/

}

/* Breakpoint intermedio: ≤450px */
@media screen and (max-width: 600px) {
  .banner-texto {
    top: 8%;
    left: 0.1%;
  }

  .banner-texto h2 {
    font-size: 1rem;
  }

  .banner-texto h3 {
    font-size: 0.6rem;
  }

  .Cont-cotiza {
    width: 80px;
    height: 40px;
  }

  .Cont-cotiza a {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .banner-texto {
    top: -2%;
    left: 0.1%;
  }

  .banner-texto h2 {
    font-size: 1rem;
  }

  .banner-texto h3 {
    font-size: 0.55rem;
  }

  .Cont-cotiza {
    width: 80px;
    height: 30px;
  }

  .Cont-cotiza a {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .banner-texto {
    top: -4.5%;
    left: 0.1%;
    max-width: 50%;
  }

  .banner-texto h2 {
    font-size: 1.16rem;
  }

  .banner-texto h3 {
    font-size: 0.56rem;
  }

  .Cont-cotiza {

    width: 60px;
    height: 25px;
  }

  .Cont-cotiza a {
    font-size: 8px;
  }
}
/* Breakpoint más estrecho: ≤390px */
@media screen and (max-width: 360px) {
  .banner-texto {
    top: -4.5%;
    left: 0.1%;
    max-width: 50%;
  }

  .banner-texto h2 {
    font-size: 0.9rem;
  }

  .banner-texto h3 {
    font-size: 0.56rem;
  }

  .Cont-cotiza {

    width: 60px;
    height: 25px;
  }

  .Cont-cotiza a {
    font-size: 8px;
  }
}
@media screen and (max-width: 330px) {
  .banner-texto {
    top: -8.5%;
    left: -4%;
    max-width: 60%;
  }

  .banner-texto h2 {
    font-size: 0.9rem;
  }

  .banner-texto h3 {
    font-size: 0.56rem;
  }

  .Cont-cotiza {

    width: 60px;
    height: 25px;
  }

  .Cont-cotiza a {
    font-size: 8px;
  }
}
