/* src/Style/LogoCarousel.css */

.container.py-5 {
  border-radius: 20px;          
  padding: 20px;
  margin-top: 20px;
}
/*INICIO LOGOS*/
.logo-volvo{
  width: 200px !important;
}
.logo-renaut{
  max-height: 120px !important; /* o cualquier otro tamaño */
  max-width: 200px !important;
}
.logo-toyota{
  max-height: 130px !important; /* o cualquier otro tamaño */
  max-width: 200px !important;
  top: 15px !important;
  position: relative;
}
.logo-chevro{
  max-height: 150px !important; /* o cualquier otro tamaño */
  max-width: 200px !important;
}
.logo-ford{
  max-height: 60px !important; /* o cualquier otro tamaño */
  max-width: 200px !important;
}
.logo-jauar{
  max-height: 100px !important; /* o cualquier otro tamaño */
  max-width: 200px !important;
}
.logo-lotus{
  max-height: 130px !important; /* o cualquier otro tamaño */
  max-width: 205px !important;
}
.logo-mini{
  max-height: 130px !important; /* o cualquier otro tamaño */
  max-width: 185px !important;
}
.logo-jeep{
  max-height: 130px !important; /* o cualquier otro tamaño */
  max-width: 165px !important;
}
.logo-subaru{
   max-width: 155px !important;
}
.logo-mitsubishi{
   max-width: 100px !important;
}
.logo-icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* Efecto hover: agrandar */
.logo-icon:hover {
  transform: scale(1.15);
  z-index: 2;
}
/*FIN LOGOS*/
  .logos_title{
    text-align: center;
    border-radius: 20px 50px;
    display: flex;
    justify-content: center;
  }
  .cont-titles{
    border-radius: 20px 50px;
    background-color:#5b718d;
    box-shadow: 
    0 4px 16px rgba(0, 0, 0, 0.1), 
    0 10px 10px rgba(15, 7, 65, 0.2);
    width: 420px;
    justify-content: center;
    position: relative;
    bottom: 50px;
  }
  .logos_title h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4em;
    margin: 0 auto;
    color: hsl(0, 0%, 100%);
  }
  .logo-carousel .carousel-item svg:hover {
    filter: none;
    transform: scale(1.1);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
    width: 100%;
    position: relative;
  }
  .carousel-control-prev-icon{
    right: 100px;   
  }
  .carousel-control-next-icon{
    left: 100px;
  }
  .carousel-inner{
    justify-content: center;
  align-items: center;
  position: relative;
  }
@media screen and (max-width: 768px){
  .logo-icon{
    max-height: 40px !important;
  }
  .logo-toyota{
  max-height: 55px !important; /* o cualquier otro tamaño */
  max-width: 55px !important;
  top: 6px !important;
  position: relative;
}
.logo-volvo{
  max-height: 55px !important; /* o cualquier otro tamaño */
  max-width: 55px !important;
}
.logo-chevro{
  max-height: 30px !important;
}
.logo-ford{
  max-height: 25px !important;
}  
.carousel-control-next-icon{
    width: 0px;
}

}