.Nosotros{
    width: 100%;
}
.Nosotros h1{
  padding-top: 10px;
  font-family: 'Bebas Neue', sans-serif;
  color: #0a2f5a  ;
}
.contenedor-Nosotros{
  width: 70%;
  margin: 0 auto;
}
.section-mv{
  width: 100%;
}
.section-mv h3,h5{
  font-family: 'Bebas Neue', sans-serif;
  color: #07285f;
}
.section-mv p{
  font-family: 'Noto Sans', sans-serif;
  color: #07285f;
}
.mv-top {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-bottom: 10px;
  padding-top: 15px;
  flex-wrap: wrap;
}

.mv-top p {
  flex: 1 1 29.3%;
  font-size: 1rem;
  text-align: justify;
  margin: 0;
}

.img-nosotros {
  width: 350px;
  height: 300px;
  border-radius: 8px;
  position: relative;
  bottom: 50px;
}

.mv-bottom{
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 25px;
  padding: 20px;
}
.nosotros-card{
  width: 20rem;
  height: auto; 
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* sombra suave */
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nosotros-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.nosotros-card p{
  font-size: 15px;
}
/* Contenedor principal */
.contenedor-valores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

/* Estructura centrada y responsiva */
.section-valores {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

/* Cada tarjeta de valor */
.nosotros-card-valores {
  width: 20rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, border 0.4s ease-in-out;
  margin-bottom: 20px;
  background-color: white;
}

/* Hover igual que en cards de servicios */
.nosotros-card-valores:hover {
  background-color: #e1ebfc;
  border: 1px solid #90a5c9;
}

/* Imagen arriba */
.valores-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Contenido de la tarjeta */
.valores-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Título de la tarjeta */
.valores-card-body h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  color: #07285f;
}

/* Texto de la tarjeta */
.valores-card-text {
  font-size: 0.9rem;
  flex-grow: 1;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
  color: #03152e;
}


/*Carrusel*/

.contenedor-reseña{
  width: 100%;
  margin-bottom: 100px;
}
.carrusel-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
} 

.comentario-card {
  background-color: #d8d8d8;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slick-slide > div {
  padding: 0 10px; /* separación horizontal entre tarjetas */

}
.comentario-text {
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 1rem;
  font-size: 0.9rem;
    margin: 0 auto;
}

.comentario-nombre {
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  color: #000000;  
  font-size: 1.2rem;
}
/*Fin Carrusel*/


@media(max-width: 1300px)  {
  /*INICIO PARTE SUPERIOR*/
.mv-top {
  gap: 1rem;
}
  .section-mv h3,h5{
    font-size: 28px;
  }
  .section-mv p{
    font-size: 13px;
  }
}
.img-nosotros {
  width: 300px;
  height: 250px;
}

  /*FIN PARTE SUPERIOR*/

@media(max-width: 1100px)  {
  /*INICIO PARTE SUPERIOR*/
.mv-top {
  gap: 1rem;
}
.section-mv h3,h5{
    font-size: 23px;
}
.section-mv p{
    font-size: 10px;
}
.img-nosotros {
  width: 250px;
  height: 230px;
}
}

@media(max-width: 1250px)  {
  /*INICIO PARTE SUPERIOR*/
.mv-top {
  gap: 0.1rem;
}
.section-mv h3,h5{
    font-size: 20px;
}
.section-mv p{
    font-size: 13px;
}
.img-nosotros {
  width: 250px;
  height: 230px;
}
}
@media(max-width: 1100px)  {
  /*INICIO PARTE SUPERIOR*/
.section-mv h3,h5{
    font-size: 20px;
}
.section-mv p{
    font-size: 10px;
}
.img-nosotros {
  width: 250px;
  height: 230px;
}
.nosotros-card{
  width: 18rem;
}
}
@media(max-width: 1000px)  {
  /*INICIO PARTE SUPERIOR*/
.section-mv h3,h5{
    font-size: 20px;
}
.section-mv p{
    font-size: 10px;
}
.img-nosotros {
  width: 250px;
  height: 230px;
}
.nosotros-card{
  width: 16rem;
}
.mv-bottom{
  gap: 2rem;
}

}

@media (max-width: 800px) {
  .mv-top p,
  .img-nosotros {
    flex: 1 1 100%;
    width: 100%;
  }
  .img-nosotros {
  height: 280px;
}
  .mv-bottom {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
  .nosotros-card {
    width: 90%;
    margin-bottom: 2rem;
  }
/* Para section valores */
}